body {
    font-family: "Sono", sans-serif;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.pricing-plan {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
}

.plan-tittle {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.plan-price {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.plan-features {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

.plan-features li {
    margin: 10px 0;
}

.plan-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 100%;
    }
}